@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    --blue-1: #149ddd; /*? this is going to make knowing an element easily, will simplify my code and make it more readable*/
    --blue-1-tint: #2dafeb;
}

section {
  overflow: hidden; /* this was the s that has been disturbing me for centuries!*/
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.my-blue {
  color: var(--blue-1);
}

.mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
  background-color: var(--blue-1);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  line-height: 0;
  border-radius: 50px; /* 50px also worked, wow!*/
  cursor: pointer;
  transition: all 0.4s;
}

.back-to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 998;
  background-color: var(--blue-1);
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.back-to-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-toggle:hover,
.back-to-top-btn:hover {
  background-color: var(--blue-1-tint);
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header { /* the class I'm toggling is on the body but style's on header, pretty cool.*/
  left: 0;
}

header {
  background-color: #040b14;
}

#header {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    overflow-y: auto;
}

.profile img {
  margin: 15px auto;
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 8px solid #2c2f3f;
}

.profile h3 {
  text-align: center;
}

.profile a {
  color: white;
  font-size: 18px; /* I know through this that element like a can set font-size that text element (text element boxicon i element here) in it can inherit*/
  background-color: #212431;
  width: 36px;
  height: 36px;
  line-height: 1;
  display: inline-block; /* this almost finished me, even with style set to box-sizing and width(and height) to 36px, it didn't work (width was taking the exact width of the i elements (that was 18px) but devTool was showing 36px, ridiculous right?) until I added this*/
  padding: 8px 0;
  border-radius: 50%;
  transition: all 0.5s;
}

.profile a:not(:last-child) {
  margin-right: 5px;
}

.profile a:hover {
  background-color: var(--blue-1-tint);
}

.profile a:focus {
  opacity: 0.75;
}

.nav-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  color: #a8a9b4;
}

.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  transition: all 0.35s;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
  color: var(--blue-1); /* love how I made these concatenations and multiple selection of selectors especially the > */
}

.nav-menu a span {
  transition: all 0.35s;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover>a span {
  color: white;
}

#hero {
  position: relative;   /* this solved that ::before element extending all the way down at width < 768*/
  width: 100%;
  height: 100vh;
  background: url("../assets/images/hero-bg.jpg") center center;
  background-size: cover;
  color: white;
  padding: 0 4rem;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px; /** this corrected the 'Hello' collapsing with the varying text*/
}

#hero h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 0.625em;
}

#hero p {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff; /* this is for the line*/
}

@media (max-width: 767px) {
  #hero h1 {
    font-size: 3rem;
    line-height: 1.75rem;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
}

#main {
  margin-left: 300px;
}

#about {
  padding: 0.5rem;
}

.section-title h2 {
  color: #173b6c;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

#about-img {
  border-radius: 5px;
}

/** Skills*/
.these-stacks {
  margin: 0;
}

.stack-content-grid .d-flex {
  flex-wrap: wrap;
  white-space: nowrap;

  list-style: none;
  padding: 0 1rem;
}

.stack-content-grid li {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem 1rem 0;

  position: relative;
}

.dev-stack.d-flex li {
  background-color: #040b14;
  color: white;
}

.design-stack.d-flex li {
  background-color: var(--blue-1);
  color: white;
}

[data-toolstack][aria-description]::after {
  opacity: 0;
  transition: opacity 1s ease-out 0.5s;
}

[data-toolstack][aria-description]:hover::after,
[data-toolstack][aria-description]:focus::after {
  opacity: 1;
  position: absolute;

  content: attr(aria-description);
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--blue-1);
  top: calc(100%);
  z-index: 1;
}

@media (min-width: 991px) {
  .these-stacks {
    margin: 0 2.5rem;
  }

  .each-stack {
    flex: 1;
    margin: 0.5rem;
    height: 60vh;
    width: 100%;
    position: relative;
    transition: flex 0.75s ease-in, background-color 0.75s ease-in; /** see what else I learned today!*/
  }

  .each-stack.active {
    flex: 3;
  }
  
  .stack-content > * {
    transform: scale(0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
  }
  
  .active .stack-content > * {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  
  .each-stack::before {
    content: "Click Me";
    font-size: 1.5rem;
  
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  
    display: inline-flex;
    flex-wrap: wrap; /** I had to add this otherwise align-content (which is for the y-direction) wouldn't work. Chrome devTool gave me this hint and suggested the solution all by itself.*/
    align-content: center;
    justify-content: center;
  
    transition: all 0.75s ease-in-out;
  }
  
  .active.each-stack::before {
    bottom: calc(100%);
    content: " ";
  }
  
  .front-dev::before {
    color: White;
    background: rgba(5, 13, 24, 1);
  }
  
  .design::before {
    background: #dc8b12;
  }
  
  .stack-info {
    visibility: 0;
    transition: visibility 0.75s ease-in-out 0.5s;
  }
  
  .active .stack-info {
    position: absolute;
    z-index: 1;
    left: 2rem;
    bottom: 0.5rem;
    visibility: 1;
  }
  
  .front-dev {
    /* border: 1px solid #040b14; */
    padding: 4rem;
  }
  
  .dev-stack {
    /* border: 1px solid red; */
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    justify-content: center;
    padding-left: 0.25rem;
    flex-wrap: wrap;
    white-space: nowrap;
    list-style: disc;
  }
  
  .dev-stack li {
    background-color: #040b14;
    color: rgb(255, 255, 255);
    padding: 0.25rem 0.7rem;
    /* margin: 0px 0.25rem 1rem 0px; */
    margin: 1rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .design {
    background-image: url('../assets/images/graphic-bg.jpg');
    
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.project-position h4 {
  font-weight: 200;
}

.project-preview img {
  border-radius: 35px;
}

.purple {
  color: purple;
}

.project-preview img {
  box-shadow: none;
  transition: all ease-in .5s;
}

.project-preview img:hover {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.btn-container {
  margin-top: 40px;
}

.view-btn {
  width: 150px;
  height: 75px;
  font-size: 1rem;
  border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
  transition:all 1s;
  padding: 0.625em;
}

.view-btn:hover {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0;
	border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#techat-project .view-btn {
  background-color: #9e7ab7;
  color: white;
}

#galcom-project .view-btn {
  background-color: #042649;
  color: #dc8b12;
}

#js-stopwatch .view-btn {
  background-color: #003e99;
  color: #fff7d0;
}

#contact .section-title .row {
  justify-content: center;
  align-items: center;
}

#contact .section-title .row h2 {
  width: fit-content; /*this solution is golden!*/
}

#form-container .row {
  justify-content: center;
  align-items: center;
}

#the-form {
  max-width: 600px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

/** OTHER SCREEN SIZES!!!*/ 
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

@media (min-width: 991px) {
  #hero {
    background-attachment: fixed; /* did the magic*/
  }
}

@media (max-width: 992px) {
  .btn-container {
    margin-top: 20px;
  }

  .project-info {
    margin-bottom: 20px;
  }
}

/** ABOUT PAGE*/
.about-page header,
.techat-review-pg header,
.galcom-blocks-review-pg header {
  color: white;
}

header .container-fluid {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

header .mobile-nav-toggle {
  position: absolute; /** Wow! (absolute) instead of (fixed) as value this makes the nav-toggle not stick there*/
  top: 13px;
  right: 13px;
  font-size: 18px;
  width: 30px;
  height: 30px;
}

.internal-nav-list {
  display: flex;
  padding: 0 5rem;
  padding-bottom: 1rem;
  margin: 0;
}

@media (min-width: 767px) {
  .internal-nav.collapse {
    display: block;
  }
}

.internal-nav-list li {
  flex-grow: 1;
  padding: 0.5rem;
  text-align: center;
}

.internal-nav-list li a {
  color: var(--blue-1);
}

.intro-text {
  font-size: 4rem;
  font-weight: 400;
}

.text-easy p {
  font-weight: 350;
  line-height: 2rem;
}

.text-margin-left {
  margin-left: 0.125rem;
}

/** FOOTER Section*/
.footer { /*using the element tag couldn't overwrite the*/
  /* background-color: #173b6c; */
  background-color: #040b14;
  color: white;
}

.footer h3 {
  color: var(--blue-1);
  font-size: 1.5rem;
}

.footer h5 {
  color: #a8a9b4;
}

footer a {
  color: white;
  transition: all 0.45s ease-in-out;
}

footer a:hover {
  color: var(--blue-1);
}

footer a:focus {
  opacity: 0.75;
}

footer ul {
  padding: 0;
}

.about-page .social-links i,
.techat-review-pg .social-links i,
.galcom-blocks-review-pg .social-links i {
  font-size: 1.75rem;
}

/** Techat & Galcom blocks page*/
.live-btn {
  text-align: center;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 0.625rem;
  padding-top: 0.325rem;
  border-radius: 5px;
  margin-left: 2rem;

  background-color: hsl(0, 100%, 40%);
  color: #fff;
  transform: scale(1);
  transition: all 0.5s ease-out;
}

.live-btn:hover,
.live-btn:focus {
  color: #fff;
  transform: scale(1.05);
}

.d-flex:has(.live-btn) {
  align-items: center;
  flex-wrap: wrap;
}

.pro-img-cont {
  width: 65%;
  margin: 0 auto;
}

.live-link {
  color: #cc0000;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.live-link:hover,
.live-link:focus {
  color: #cc0000;
  opacity: 0.75;
}