@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* html {
  scroll-behavior: smooth;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
  background-color: #149ddd;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  line-height: 0;
  border-radius: 50%; /* 50px also worked, wow!*/
  cursor: pointer;
  transition: all 0.4s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header { /* the class I'm toggling is on the body but syle's on header, pretty cool.*/
  left: 0;
}

#header {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

.profile img {
  margin: 15px auto;
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 8px solid #2c2f3f;
}

.profile h3 {
  text-align: center;
}

.profile a {
  color: white;
  font-size: 18px; /* I know through this that element like a can set font-size that text element (text element boxicon i element here) in it can inherit*/
  background-color: #212431;
  text-decoration: none;
  width: 36px;
  height: 36px;
  line-height: 1;
  display: inline-block; /* this almost finished me, even with style set to box-sizing and width(and height) to 36px, it didn't work (width was taking the exact width of the i elements (that was 18px) but devTool was showing 36px, ridiculous right?) until I added this*/
  padding: 8px 0;
  border-radius: 50%;
  transition: all 0.35s;
}

.profile a:not(:last-child) {
  margin-right: 5px;
}

.profile a:hover {
  background-color: #37b3ed;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  color: #a8a9b4;
}

.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  transition: all 0.35s;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
  color: #149ddd; /* love I made these concatenations and multiple selection of selectors especially the > */
}

.nav-menu a span {
  transition: all 0.35s;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover>a span {
  color: white;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/hero-bg.jpg") center center;
  background-size: cover;
  color: white;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  padding: 10px;
}

#hero h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 10px;
}

#hero p {
  font-size: 26px;
  margin-bottom: 50px;
}

#main {
  margin-left: 300px;
}

#about {
  padding: 8px;
}

.section-title.about-me h2 {
  color: #173b6c;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

#about-img {
  border-radius: 5px;
}

#main p a {
  text-decoration: none;
  color: #149ddd;
}

.bio h4 {
  color: #149ddd;
}

.my-stack h4 {
  margin-left: 2.5rem;
}

.my-stack {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  flex-wrap: wrap;
  white-space: nowrap;
  list-style: disc;
}

.my-stack li {
  list-style: none;
  background: #040b14;
  color: rgb(255, 255, 255);
  padding: 0.25rem 0.7rem;
  margin: 0px 0.25rem 1rem 0px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* still coming back to write each stack name under it*/

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

@media (min-width: 991px) {
  #hero {
    background-attachment: fixed; /* did the magic*/
  }
}

@media (max-width: 768px) {
  #about-img {
    max-width: 300px;
  }

  .my-stack h4 {
    margin-left: 0;
  }
}